apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "perf-ui.fullname" . }}-caddyfile
  labels:
    {{- include "perf-ui.labels" . | nindent 4 }}
data:
  Caddyfile: |
    :80 {
        root * /srv
        encode gzip

        @api path /api/*
        reverse_proxy @api {{ .Values.apiGateway.url }}

        try_files {path} /index.html
        file_server
    }
