apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "perf-ui.fullname" . }}
  labels:
    {{- include "perf-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "perf-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "perf-ui.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: API_GATEWAY_URL
              value: {{ .Values.apiGateway.url }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: caddyfile
              mountPath: /etc/caddy/Caddyfile
              subPath: Caddyfile
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
      volumes:
        - name: caddyfile
          configMap:
            name: {{ include "perf-ui.fullname" . }}-caddyfile
