replicaCount: 1

image:
  repository: danielqsj/kafka-exporter
  tag: "v1.7.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9308

kafka:
  server: "perf-kafka:9092"

prometheus:
  scrape: "true"
  path: /metrics
  port: "9308"
  job: kafka

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "100m"
