apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}-config
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.scrapeInterval }}

    scrape_configs:
      {{- if .Values.targets.perfTester.enabled }}
      - job_name: 'perf-tester'
        metrics_path: '{{ .Values.targets.perfTester.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.perfTester.serviceName }}:{{ .Values.targets.perfTester.port }}']
      {{- end }}

      {{- if .Values.targets.ibmMqConsumer.enabled }}
      - job_name: 'ibm-mq-consumer'
        metrics_path: '{{ .Values.targets.ibmMqConsumer.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.ibmMqConsumer.serviceName }}:{{ .Values.targets.ibmMqConsumer.port }}']
      {{- end }}

      {{- if .Values.targets.kafkaConsumer.enabled }}
      - job_name: 'kafka-consumer'
        metrics_path: '{{ .Values.targets.kafkaConsumer.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.kafkaConsumer.serviceName }}:{{ .Values.targets.kafkaConsumer.port }}']
      {{- end }}

      {{- if .Values.targets.ibmMq.enabled }}
      - job_name: 'ibm-mq'
        metrics_path: '{{ .Values.targets.ibmMq.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.ibmMq.serviceName }}:{{ .Values.targets.ibmMq.port }}']
      {{- end }}

      {{- if .Values.targets.kafkaExporter.enabled }}
      - job_name: 'kafka'
        metrics_path: '{{ .Values.targets.kafkaExporter.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.kafkaExporter.serviceName }}:{{ .Values.targets.kafkaExporter.port }}']
      {{- end }}

      {{- if .Values.targets.oracleExporter.enabled }}
      - job_name: 'oracle'
        metrics_path: '{{ .Values.targets.oracleExporter.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.oracleExporter.serviceName }}:{{ .Values.targets.oracleExporter.port }}']
      {{- end }}
