apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}-config
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.scrapeInterval }}

    scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: "true"
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_interval]
            action: replace
            target_label: __scrape_interval__
            regex: (.+)
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_timeout]
            action: replace
            target_label: __scrape_timeout__
            regex: (.+)
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_job]
            action: replace
            target_label: job
            regex: (.+)
          - source_labels: [job, __meta_kubernetes_pod_label_app_kubernetes_io_name]
            action: replace
            regex: ;(.+)
            replacement: $1
            target_label: job
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
