apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}-config
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.scrapeInterval }}

    scrape_configs:
      {{- if .Values.targets.perfTester.enabled }}
      - job_name: 'perf-tester'
        metrics_path: '{{ .Values.targets.perfTester.metricsPath }}'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names: ['{{ .Release.Namespace }}']
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: '{{ .Values.targets.perfTester.serviceName }}'
          - source_labels: [__meta_kubernetes_endpoint_port_number]
            action: keep
            regex: '{{ .Values.targets.perfTester.port }}'
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
      {{- end }}

      {{- if .Values.targets.ibmMqConsumer.enabled }}
      - job_name: 'ibm-mq-consumer'
        metrics_path: '{{ .Values.targets.ibmMqConsumer.metricsPath }}'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names: ['{{ .Release.Namespace }}']
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: '{{ .Values.targets.ibmMqConsumer.serviceName }}'
          - source_labels: [__meta_kubernetes_endpoint_port_number]
            action: keep
            regex: '{{ .Values.targets.ibmMqConsumer.port }}'
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
      {{- end }}

      {{- if .Values.targets.kafkaConsumer.enabled }}
      - job_name: 'kafka-consumer'
        metrics_path: '{{ .Values.targets.kafkaConsumer.metricsPath }}'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names: ['{{ .Release.Namespace }}']
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: '{{ .Values.targets.kafkaConsumer.serviceName }}'
          - source_labels: [__meta_kubernetes_endpoint_port_number]
            action: keep
            regex: '{{ .Values.targets.kafkaConsumer.port }}'
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
      {{- end }}

      {{- if .Values.targets.ibmMq.enabled }}
      - job_name: 'ibm-mq'
        metrics_path: '{{ .Values.targets.ibmMq.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.ibmMq.serviceName }}:{{ .Values.targets.ibmMq.port }}']
      {{- end }}

      {{- if .Values.targets.kafkaExporter.enabled }}
      - job_name: 'kafka'
        metrics_path: '{{ .Values.targets.kafkaExporter.metricsPath }}'
        static_configs:
          - targets: ['{{ .Values.targets.kafkaExporter.serviceName }}:{{ .Values.targets.kafkaExporter.port }}']
      {{- end }}
