spring:
  application:
    name: perf-tester
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}
  docker:
    compose:
      file: ../compose.yaml
  jms:
    pool:
      enabled: true
      max-connections: 20
      max-sessions-per-connection: 10

app:
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    root: INFO
    com.example.perftester: INFO
    org.springframework: INFO
    org.apache.kafka: WARN
    com.ibm.mq: INFO
    com.ibm.msg: INFO
