replicaCount: 1

image:
  repository: gvenzl/oracle-xe
  tag: "21-slim"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 1521

oracle:
  password: oracle
  appUser: perfuser
  appUserPassword: perfpass
  pdbName: XEPDB1

resources:
  requests:
    memory: "1Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "2000m"

persistence:
  enabled: true
  size: 10Gi
  storageClass: ""
