server:
  port: 8090

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
         webflux:
          routes:
            # Grafana - serves from /grafana subpath (GF_SERVER_SERVE_FROM_SUB_PATH=true)
            - id: grafana
              uri: ${GRAFANA_URL:http://localhost:3000}
              predicates:
                - Path=/grafana,/grafana/**
              filters:
                - StripPrefix=0

            # Prometheus - supports subpath via --web.external-url=/prometheus
            - id: prometheus
              uri: ${PROMETHEUS_URL:http://localhost:9090}
              predicates:
                - Path=/prometheus,/prometheus/**
              filters:
                - StripPrefix=0

            # Loki - redirect to Grafana Explore with Loki datasource
            - id: loki-root
              uri: ${GRAFANA_URL:http://localhost:3000}
              predicates:
                - Path=/loki
              filters:
                - RedirectTo=302, /grafana/explore?orgId=1&datasource=loki

            # Loki API - needs path stripping for API calls
            - id: loki-api
              uri: ${LOKI_URL:http://localhost:3100}
              predicates:
                - Path=/loki/**
              filters:
                - StripPrefix=1

            # IBM MQ Web Console - serves at /ibmmq/console/ path
            - id: ibmmq
              uri: ${IBMMQ_URL:https://localhost:9443}
              predicates:
                - Path=/ibmmq,/ibmmq/**
              filters:
                - StripPrefix=0

            # Kafdrop - strip prefix, Kafdrop serves from root
            - id: kafdrop
              uri: ${KAFDROP_URL:http://localhost:9000}
              predicates:
                - Path=/kafdrop,/kafdrop/**
              filters:
                - StripPrefix=1

            # Perf-Tester API
            - id: perf-tester
              uri: ${PERF_TESTER_URL:http://localhost:8080}
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=0

            # Tempo - redirect to Grafana Explore with Tempo datasource
            - id: tempo-root
              uri: ${GRAFANA_URL:http://localhost:3000}
              predicates:
                - Path=/tempo
              filters:
                - RedirectTo=302, /grafana/explore?orgId=1&datasource=tempo

            # Tempo API - needs path stripping for API calls
            - id: tempo-api
              uri: ${TEMPO_URL:http://localhost:3200}
              predicates:
                - Path=/tempo/**
              filters:
                - StripPrefix=1

            # Sonar - has web context configured
            - id: sonar
              uri: ${SONAR_URL:http://localhost:9000}
              predicates:
                - Path=/sonar,/sonar/**
              filters:
                - StripPrefix=0


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG

---

spring:
  config:
    activate:
      on-profile: docker

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: grafana
              uri: http://perf-grafana:3000
              predicates:
               - Path=/grafana,/grafana/**
              filters:
               - StripPrefix=0

            - id: prometheus
              uri: http://perf-prometheus:9090
              predicates:
                - Path=/prometheus,/prometheus/**
              filters:
                - StripPrefix=0

            - id: loki-root
              uri: http://perf-grafana:3000
              predicates:
                - Path=/loki
              filters:
                - RedirectTo=302, /grafana/explore?orgId=1&datasource=loki

            - id: loki-api
              uri: http://perf-loki:3100
              predicates:
                - Path=/loki/**
              filters:
                - StripPrefix=1

            - id: ibmmq
              uri: https://perf-ibm-mq:9443
              predicates:
                - Path=/ibmmq,/ibmmq/**
              filters:
                - StripPrefix=0

            - id: kafdrop
              uri: http://perf-kafdrop:9000
              predicates:
                - Path=/kafdrop,/kafdrop/**
              filters:
                - StripPrefix=1

            - id: perf-tester
              uri: http://perf-perf-tester:8080
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=0

            - id: tempo-root
              uri: http://perf-grafana:3000
              predicates:
                - Path=/tempo
              filters:
                - RedirectTo=302, /grafana/explore?orgId=1&datasource=tempo

            - id: tempo-api
              uri: http://perf-tempo:3200
              predicates:
                - Path=/tempo/**
              filters:
                - StripPrefix=1

            - id: sonar
              uri: http://perf-sonarqube:9000
              predicates:
                - Path=/sonar,/sonar/**
              filters:
                - StripPrefix=0
