spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework: INFO
    reactor.netty: WARN
