replicaCount: 1

image:
  repository: postgres
  tag: "17-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

postgres:
  user: perfuser
  password: perfpass
  db: perfdb

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "1000m"

persistence:
  enabled: true
  size: 5Gi
  storageClass: ""
