{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "perf-tester.fullname" . }}-pvc
  labels:
    {{- include "perf-tester.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - ReadWriteOnce
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "perf-tester.fullname" . }}-h2-pvc
  labels:
    {{- include "perf-tester.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - ReadWriteOnce
  {{- if .Values.h2Persistence.storageClass }}
  storageClassName: {{ .Values.h2Persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.h2Persistence.size }}
