spring:
  config:
    import:
  docker:
    compose:
      enabled: false
  jms:
    pool:
      enabled: true
      max-connections: 5
      max-sessions-per-connection: 5
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: com.example.ibmmqconsumer.serialization.AvroSerializer
      acks: 1
    consumer:
      group-id: ibm-mq-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: com.example.ibmmqconsumer.serialization.AvroDeserializer

app:
  mq:
    queue:
      inbound: DEV.QUEUE.2
      outbound: DEV.QUEUE.1
  kafka:
    topic:
      request: mq-requests
      response: mq-responses
    consumer:
      concurrency: 1

logging:
  level:
    root: INFO
    com.example.ibmmqconsumer: DEBUG
    org.apache.kafka: WARN
    com.ibm.mq: WARN
    com.ibm.msg: WARN
