spring:
  application:
    name: consumer
  threads:
    virtual:
      enabled: true
  docker:
    compose:
      file: ../compose.yaml
  jms:
    cache:
      enabled: true
      session-cache-size: 50

ibm:
  mq:
    queue-manager: QM1
    channel: DEV.ADMIN.SVRCONN
    conn-name: localhost(1414)
    user: admin
    password: passw0rd

app:
  mq:
    queue:
      inbound: DEV.QUEUE.2
      outbound: DEV.QUEUE.1
