replicaCount: 1

image:
  repository: prom/prometheus
  tag: "v3.9.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9090

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

persistence:
  enabled: true
  size: 15Gi
  storageClass: ""

scrapeInterval: 15s
