replicaCount: 1

image:
  repository: confluentinc/cp-schema-registry
  tag: "7.7.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8081

kafka:
  bootstrapServers: perf-kafka:9092

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
