replicaCount: 1

image:
  repository: grafana/grafana
  tag: "12.3"
  pullPolicy: IfNotPresent

renderer:
  enabled: true
  image:
    repository: grafana/grafana-image-renderer
    tag: "v5.4.0"
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

service:
  type: ClusterIP
  port: 3000

admin:
  password: admin

datasources:
  prometheus:
    enabled: true
    url: http://perf-prometheus:9090

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  enabled: true
  size: 1Gi
  storageClass: ""
