apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sonarqube.fullname" . }}-db
  labels:
    {{- include "sonarqube.labels" . | nindent 4 }}
type: Opaque
stringData:
  username: {{ .Values.postgresql.auth.username | quote }}
  password: {{ .Values.postgresql.auth.password | quote }}
  database: {{ .Values.postgresql.auth.database | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sonarqube.fullname" . }}-token
  labels:
    {{- include "sonarqube.labels" . | nindent 4 }}
  annotations:
    description: "Sonar authentication token for CI/CD integration with Gradle"
type: Opaque
stringData:
  token: {{ .Values.sonar.token | quote }}
  project-key: {{ .Values.sonar.projectKey | quote }}
  url: {{ .Values.sonar.externalUrl | quote }}
