apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sonarqube.fullname" . }}-db
  labels:
    {{- include "sonarqube.labels" . | nindent 4 }}
type: Opaque
stringData:
  username: {{ .Values.postgresql.auth.username | quote }}
  password: {{ .Values.postgresql.auth.password | quote }}
  database: {{ .Values.postgresql.auth.database | quote }}
