spring:
  application:
    name: kafka-consumer
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}
  docker:
    compose:
      file: ../compose.yaml
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: com.example.kafkaconsumer.serialization.AvroSerializer
      acks: 1
      compression-type: lz4
      properties:
        linger.ms: 5
        batch.size: 65536
    consumer:
      group-id: kafka-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: com.example.kafkaconsumer.serialization.AvroDeserializer

app:
  kafka:
    topic:
      request: mq-requests
      response: mq-responses
    consumer:
      concurrency: 20

logging:
  level:
    root: INFO
    com.example.kafkaconsumer: DEBUG
    org.springframework: INFO
    org.apache.kafka: WARN
