replicaCount: 1

image:
  repository: api-gateway
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8090

tracing:
  url: http://perf-tempo:4318/v1/traces

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"
