apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-datasources
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      {{- if .Values.datasources.prometheus.enabled }}
      - name: prometheus
        type: prometheus
        access: proxy
        url: {{ .Values.datasources.prometheus.url }}
        isDefault: true
        editable: false
      {{- end }}
      {{- if .Values.datasources.tempo.enabled }}
      - name: tempo
        type: tempo
        access: proxy
        url: {{ .Values.datasources.tempo.url }}
        uid: tempo
        editable: false
        jsonData:
          tracesToMetrics:
            datasourceUid: prometheus
            tags:
              - key: service.name
                value: service
          tracesToLogs:
            datasourceUid: loki
            tags:
              - key: service.name
                value: service_name
            mappedTags:
              - key: service.name
                value: service_name
            mapTagNamesEnabled: true
            filterByTraceID: true
            filterBySpanID: true
          nodeGraph:
            enabled: true
          serviceMap:
            datasourceUid: prometheus
      {{- end }}
      {{- if .Values.datasources.loki.enabled }}
      - name: loki
        type: loki
        access: proxy
        url: {{ .Values.datasources.loki.url }}
        uid: loki
        editable: false
        jsonData:
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: "traceId=(\\w+)"
              name: TraceID
              url: "$${__value.raw}"
            - datasourceUid: tempo
              matcherRegex: "trace_id=(\\w+)"
              name: TraceID
              url: "$${__value.raw}"
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "grafana.fullname" . }}-dashboards-provider
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
