replicaCount: 1

image:
  repository: rediscommander/redis-commander
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8081

redis:
  hosts: "local:perf-redis:6379"

urlPrefix: /redis-commander

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "250m"
